<h1>RPG – Random Pesel Generator</h1>

<p>
  This website aim to generate random (but valid!) <a href="http://en.wikipedia.org/wiki/PESEL">PESEL</a> numbers.
</p>

<h2>Under the hood</h2>

<dl>
  <dt>Framework:</dt>
  <dd><a href="http://sinatrarb.com">Sinatra</a></dd>
  <dt>Core library:</dt>
  <dd><a href="http://github.com/krzyzak/rpg">RPG</a></dd>
  <dt>Hosting:</dt>
  <dd><a href="http://heroku.com">Heroku</dd>
</dl>